html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

* {
    display: border-box;
}

/*Nav Bar*/

body {
    height: 100vh;
    width: 100vw;
    background-color: #142937;    
    background-repeat: no-repeat;
}



nav {
    float: top;
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid #3C5E74;
    width: 100%;
    justify-content: flex-end;
    z-index: 2;
    align-content: center;
    background-color: #E6E5E8;
    box-shadow: 0 5px #3C5E74;
    position: fixed;
    height: 4em;
}

.namePlate {
    margin-left: 2rem;
    color: #3C5E74;
    font-family: 'Righteous', cursive; 
    font-size: 1.5rem;
    align-self: center;
}

.namePlate h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.links {
    margin-left: auto;
    margin-right: 2rem;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    min-width: 33%;
    font-family: 'Fjalla One', sans-serif;
}

.links li {
    align-self: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FFB186;
}

/*positioning*/
main {
    padding-top: 4em;
    display: grid;
    grid-template-columns: repeat(12, 6em);
    grid-template-rows: repeat(11, 4em);
    grid-column-gap: 2%;
    grid-row-gap: 2em;
    min-height: 100vh;
    min-width: 100vw;
    margin-bottom: -8em;
}

/*Jumbotron*/

.jumbotron {
    display: flex;
    width: 80%;
    justify-self: center;
    grid-column: 2 / 8;
    grid-row: 2 / 6;
    color: #3C5E74;
    font-family: "Fjalla One", sans-serif;
    font-size: 2rem;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-wrap: wrap;
}

.name {
    display: inline-flex;
    font-size: 4rem;
    z-index: 1;
}

#first {
    color: #E6E5E8;
}

.jumbotron h1 {
    width: 100%;
}

.jumbotron h2 {
    width: 100%;
    margin-top: 0;
    z-index: 1;
}

.buttons {
    display: inline-flex;
    justify-content: space-between;
}

.buttons h3 {
    background-color: #3C5E74;
    color: #E6E5E8;
    padding: 1rem;
    margin: 1.5rem 1.5rem;
}

.buttons h3:hover {
    background-color: #FFB186;
}


/*picture*/

.me {
    background-image: url(images/ave-sarah-favs-66.jpg);
    grid-column: 7 / 11;
    grid-row: 2 / 8;
    background-size: cover;
    border-radius: 50%;
    width: 100%;
    height: auto;
    background-position: center;
}

/*footer*/

footer {
    background-color: #E6E5E8;
    width: 100vw;
    height: 8em;
    box-shadow: 0 -5px #3C5E74;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .buttons {
        flex-wrap: wrap;
    }
    .name {
        flex-wrap: wrap;
    }
    #first {
        margin-bottom: -5px;
    }
    #second {
        margin-top: -5px;
    }
    .me {
        grid-column: 5 / 9;
    }
    main {
        min-height: 95vh;
    }
}