* {
    color: #3C5E74;
}

/*Nav Bar*/

body {
    margin: 0;
    background-color: #3A3D39;
}

nav {
    float: top;
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid #3C5E74;
    width: 100%;
    justify-content: flex-end;
    z-index: 1;
    align-content: center;
    background-color: #E6E5E8;
    box-shadow: 0 5px #142937;
    position: fixed;
    height: 4em;
}

.namePlate {
    margin-left: 2rem;
    color: #3C5E74
}

.links {
    margin-left: auto;
    margin-right: 2rem;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    min-width: 33%;
}

.links li {
    align-self: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FFB186;
}

/*positioning*/
main {
    padding-top: 4em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 4em);
    gap: 2%;
}

/*Jumbotron*/

.jumbotron {
    display: flex;
    width: 80%;
    background-color: #E6E5E8;
    justify-self: center;
    grid-column: 2 / 12;
    grid-row: 2 / 7;
}

.jumbotron ul {
    list-style-type: none;
}

/*picture*/

.me {
    background-image: url(images/ave-sarah-favs-66.jpg);
    grid-column: 8 / 12;
    grid-row: 2 / 8;
    background-size: cover;
    border-radius: 50%;
}